:root {
  --star: #E0D7D2;
  --layer-bg: #EAEAE9;
  --quote-bar: #9D8A7F;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--layer-bg);
}

object.dot {
  width: unset;
}

.dot-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pdtb-42 {
  padding: 42px 0;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 75%;
}

section {
  width: 100%;
}

object {
  width: 100%;
}

.top-tagline {
  margin-top: -8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-tagline .tagline-content {
  max-width: 82%;
}

.feature {
  margin: 42px 0;
}

.feature-content {
}

.feature-media {
  display: grid;
  grid-gap: 24px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.feature-item:last-child {
  margin-top: 42px;
}

.feature-item img {
  height: auto;
}
.feature-desc {
  margin: 42px 0;
}

.about-info {
  flex-direction: column;
  gap: 24px;
}

.about-info .s-title {
  width: 80%;
}

.bg-section img {
  object-fit: contain;
  height: auto;
}

.desc-content {
  clear: both;
}

.text-centered {
  max-width: 60%;
}

.separator-left {
  width: 33%;
  height: 12px;
  background-color: var(--star);
  float: left;
  margin: 24px 0;
  display: block;
}

.separator-right {
  width: 33%;
  height: 12px;
  background-color: var(--star);
  float: right;
  margin: 24px 0;
  display: block;
}

.camera-section {
  display: flex;
  gap: 24px;
  clear: both;
  padding: 0 4%;
}
.camera-section .col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-item img {
  width: 100%;
  height: auto;
}

.sec-end {
  background-image: url("./assets/svg/end-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -30%;
}

.quote-block {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote-box {
  padding: 38px 12%;
  background-color: var(--star);
}

.quote-bar {
  width: 50%;
  height: 14px;
  background: var(--quote-bar);
}

.img-full-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 24px;
}

.img-full-section img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .bg-section img {
    object-fit: cover;
    height: auto;
  }
}